/* src/assets/styles/utils/_mixins.scss  */

@mixin isFlex($align: center, $justify: center, $direction: row, $wrap: wrap) {
  display: flex;
  align-items: $align;
  justify-content: $justify;
  flex-direction: $direction;
  flex-wrap: $wrap;
}

@mixin bgImage($url, $repeat: no-repeat, $position: center, $size: initial) {
  background-image: url($url);
  background-repeat: $repeat;
  background-position: $position;
  background-size: $size;
}

@mixin range-slider($width, $height, $input-top, $input-bg-color, $input-thumb-color, $float:none, $input-height:40px) {
  position: relative;
  width: $width;
  height: $height;
  float: $float;
  text-align: center;
    
  input[type="range"] {
    pointer-events: none;
    position: absolute;
    -webkit-appearance: none;
    border: none;
    border-radius: 10px;
    overflow: hidden;
    background: transparent;
    left: 0;
    top: $input-top;
    width: $width;
    outline: none;
    height: $input-height;
    margin: 0;
    padding: 0;
    overflow: visible;
  }  
  
  input[type="range"]::-webkit-slider-thumb {
    pointer-events: all;
    position: relative;
    z-index: 1;
    outline: 0;    
    -webkit-appearance: none;
    width: $input-height;
    height: $input-height;
    border: none;
    border-radius: 50%;
    background: #fff;
    border: 4.80994px solid #FF7475;
    top: -16px;
    box-shadow: 0px 0px 12.0248px rgba(70, 70, 70, 0.25);
  }
  
  input[type="range"]::-moz-range-thumb {
    pointer-events: all;
    position: relative;
    z-index: 10;
    -moz-appearance: none;
    width: $input-height;
    height: $input-height;
    border: none;
    top: -16px;
    border-radius: 50%;
    border: 4.80994px solid #FF7475;
    box-shadow: 0px 0px 12.0248px rgba(70, 70, 70, 0.25);
    background: #fff;
  }

  input[type="range"]::-ms-thumb {
    pointer-events: all;
    position: relative;
    z-index: 10;
    -ms-appearance: none;
    width: $input-height;
    height: $input-height;
    box-shadow: 0px 0px 12.0248px rgba(70, 70, 70, 0.25);
    top: -16px;
    border-radius: 50%;
    border: 0;
    background-image: linear-gradient(to bottom, lighten($input-thumb-color,60%) 0, $input-thumb-color 100%); /* W3C */
  }
  
  input[type="range"]::-moz-range-track {
    position: relative;
    z-index: -1;
    background-color: #ff7475;
    border: 0;
  }
  input[type="range"]::-moz-runnable-track {
    position: relative;
    z-index: -1;
    background-color: rgba(0, 0, 0, 1);
    border: 0;
  }
  
  input[type="range"]:last-of-type::-moz-range-track {
    -moz-appearance: none;
    background: transparent;
    border: 0;
  } 
  
  input[type="range"]::-moz-focus-outer {
    border: 0;
  }
  input[type=range]::-webkit-slider-runnable-track {
    width: 100%;
    height: 5px;
    cursor: pointer;
    box-shadow: none;
    background: #FF7475;
    border-radius: 1.3px;
    border: none;
  }
  
  input[type=range]:focus::-webkit-slider-runnable-track {
    background: #FF7475;
  }
  
  input[type=range]::-moz-range-track {
    width: 100%;
    height: 5px;
    cursor: pointer;
    background: #FF7475;
    border-radius: 1.3px;
  }
  
  input[type=range]::-ms-track {
    width: 100%;
    height: 5px;
    cursor: pointer;
    background: transparent;
    border-color: transparent;
    border-width: 16px 0;
    color: transparent;
  }
  input[type=range]::-ms-fill-lower {
    background: #FF7475;
    border: 0.2px solid #010101;
    border-radius: 2.6px;
    box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
  }
  input[type=range]:focus::-ms-fill-lower {
    background: #FF7475;
  }
  input[type=range]::-ms-fill-upper {
    background: #FF7475;
    border: 0.2px solid #010101;
    border-radius: 2.6px;
    box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
  }
  input[type=range]:focus::-ms-fill-upper {
    background: #FF7475;
  }
}