/* src/assets/styles/pages/_index.scss  */

.top{
  &__brands{
    padding-top: 35px;
    margin-bottom: 22px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    align-items: center;
    &--title{
      text-align: center;
      margin-bottom: 65px;
      font-weight: normal;
      font-size: 18px;
      line-height: 21px;
      color: #818784;
    }
  }
}
.main{
  &-grid{
    display: flex;
    margin-bottom: 100px;
  }
  &__title{
    font-weight: 600;
    font-size: 42px;
    line-height: 50px;
    color: #818784;
    text-align: center;
    margin-bottom: 68px;
  }
  &-row{
    display: flex;
    justify-content: space-between;
  }
  &-column{
    width: 66%;
    &:first-child{
      margin-right: 20px;
    }
    .news{
      padding: 20px;
      box-shadow: 0px 0px 30px rgba(129, 135, 132, 0.2);
      border-radius: 5px;
      margin-bottom: 20px;
    }
    .catalog{
      padding: 20px;
      width: 50%;
      background-size: cover;
      box-shadow: 0px 0px 30px rgba(129, 135, 132, 0.2);
      border-radius: 5px;
      &__content{
        background-image: url('/assets/images/download-bg.png');
        background-color: #C7CAD3;
        background-size: cover;
        background-position: right center;
        height: 100%;
        padding: 36px 0 0 57px;
      }
      &__title{
        font-size: 24px;
        line-height: 120%;
        color: #fff;
        text-align: left;
        font-family: $bold;
        max-width: 205px;
        width: 100%;
        margin-bottom: 76px;
      }
      a{
        display: flex;
        align-items: center;
        justify-content: center;
        width: 174px;
        height: 46px;
        background: #FF7475;
        border-radius: 5px;
        border: none;
        color: #fff;
        font-weight: 500;
        font-size: 18px;
        line-height: 21px;
      }
    }
    .cowork{
      width: 482px;
      height: 340px;
      padding: 20px;
      box-shadow: 0px 0px 30px rgba(129, 135, 132, 0.2);
      border-radius: 5px;
      &__content{
        background-image: url('/assets/images/cowork.png');
        background-color: #C7CAD3;
        background-size: cover;
        background-position: right center;
        height: 100%;
        padding: 36px 0 0 57px;
      }
      &__title{
        font-size: 24px;
        line-height: 120%;
        color: #fff;
        text-align: left;
        font-family: $bold;
        max-width: 205px;
        width: 100%;
        margin-bottom: 76px;
      }
      a{
        display: flex;
        align-items: center;
        justify-content: center;
        width: 174px;
        height: 46px;
        background: #FF7475;
        border-radius: 5px;
        border: none;
        color: #fff;
        font-weight: 500;
        font-size: 18px;
        line-height: 21px;
      }
    }
    .discounts{
      padding: 20px;
      height: 100%;
      box-shadow: 0px 0px 30px rgba(129, 135, 132, 0.2);
      border-radius: 5px;
      &__content{
        background: url('/assets/images/discounts.png');
        height: 100%;
        display: flex;
        align-items: flex-end;
        justify-content: center;
        padding-bottom: 34px;
        a{
          display: flex;
          justify-content: center;
          align-items: center;
          width: 227px;
          height: 48px;
          background: #FF7475;
          border-radius: 5px;
          border: none;
          color: #fff;
          font-weight: 500;
          font-size: 18px;
          line-height: 21px;
        }
      }
    }
  }
  .swiper-container {
    position: relative;
    .swiper-slide{
      width: 100%;
    }
    .swiper-button-next{
      &:after{
        font-family: none;
        content: '';
        background: url('/assets/images/arrow-right.svg');
        width: 30px;
        height: 30px;
      }
    }
    .swiper-button-prev{
      &:after{
        font-family: none;
        content: '';
        background: url('/assets/images/arrow-left.svg');
        width: 30px;
        height: 30px;
      }
    }
    .swiper-pagination{
      color: #939393;
      font-size: 24px;
      line-height: 139%;
      position: relative;
      bottom: auto;
      left: auto;
      margin-bottom: 0;
      text-align-last: left;
      .swiper-pagination-current{
        font-weight: 500;
        font-size: 24px;
        line-height: 139%;
      }
      .swiper-pagination-total{
        font-size: 20px;
        line-height: 139%;
      }
    }
    .swiper-slide{
      display: flex;
      .news__img{
        max-width: 482px;
        width: 100%;
        height: 300px;
        margin-right: 40px;
      }
      .slider__content{
        .slider-name{
          font-weight: 600;
          font-size: 24px;
          line-height: 120%;
          color: #818784;
          margin-bottom: 20px;
          text-align: left;
          span{
            color: #FF7475 !important;
          } 
        }
        .slider-links{
          display: flex;
          align-items: flex-end;
          .swiper-buttons{
            position: relative;
            display: flex;
            div{
              position: relative;
              top: auto;
              left: auto;
              bottom: auto;
              right: auto;
            }
          }
        }
        
        p{
          text-align: left;
          font-weight: normal;
          font-size: 16px;
          line-height: 140%;
          font-family: $light;
          color: #939393;
          max-width: 425px;
          width: 100%;
          margin-bottom: 35px;
        }
      }
    }
    a{
      margin-left: 40px;
      button{
        width: 158px;
        height: 46px;
        background: #FF7475;
        border-radius: 5px;
        border: none;
        font-weight: 500;
        font-size: 18px;
        line-height: 21px;
        color: #fff;
      }
    }
  }
}


.materials{
  .container{
    margin-bottom: 92px;
  }
  &__grid{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 92px;
  }
  &__title{
    font-weight: 600;
    font-size: 42px;
    line-height: 50px;
    color: #818784;
    grid-column: 1 / 3;
    margin-bottom: 80px;
  }
  &__item{
  }
  &__img{
    display: flex;
    justify-content: center;
    margin-bottom: 50px;
    position: relative;
    &::after{
      position: absolute;
      content: '10627';
      background: #FF7474;
      border-radius: 20px;
      bottom: 10px;
      right: 30%;
      width: 45px;
      height: 17px;
      font-weight: 500;
      font-size: 10px;
      line-height: 12px;
      color: #fff;
      display: flex;
      justify-content: center;
      align-items: center;
    }
  }
  &__name{
    font-weight: 600;
    font-size: 32px;
    line-height: 130%;
    color: #818784;
    margin-bottom: 20px;
  }
  &__info{
    font-weight: normal;
    font-size: 18px;
    line-height: 130%;
    color: #818784;
  }
}

.stages{ 
  &__slider{
    padding: 0 110px;
    margin-bottom: 114px;
  }
  .stages-slide{
    height: 330px;
    padding: 48px 64px 64px;
    .stages__top{
      display: flex;
      justify-content: space-between;
      margin-bottom: 26px;
      a{
        font-weight: 500;
        font-size: 18px;
        line-height: 130%;
        color: #818784;
        margin-right: 12px;
      }
    }
    .stages__title{
      font-weight: 600;
      font-size: 32px;
      line-height: 130%;
      color: #818784;
      margin-bottom: 22px;
    }
    p{
      font-weight: normal;
      font-size: 20px;
      line-height: 23px;
      color: #939393;
    }
  }
}

.calc{
  background: #8C8C8C;
  padding: 45px 0;
  &__grid{
    display: flex;
    justify-content: space-between;
    grid-column-gap: 95px;
    background: linear-gradient(296.35deg, #F0F0F0 -15.76%, #F7F7F7 99.51%);
  }
  &__column{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 76px;
    &:first-child{
      width: 66%;
      background: linear-gradient(296.35deg, #F0F0F0 -15.76%, #F7F7F7 99.51%);
      padding-top: 84px;
      padding-left: 100px;
    }
    &:last-child{
      box-shadow: 0px 0px 30.1667px rgba(171, 163, 163, 0.25);
      background: #fff;
      width: 34%;
      grid-template-columns: 1fr;
    }
  }
  .calculation{
    &__grid{
      display: grid;
      grid-template-columns: 1fr 1fr;
      grid-gap: 28px;
      .grid__item{
        border: 1.20248px solid #E8E8E8;
        position: relative;
        img{
          width: 100%;
          max-width: 100%;
        }
        .grid-name{
          position: absolute;
          font-weight: 500;
          font-size: 16px;
          line-height: 19px;
          left: 50%;
          bottom: 5%;
          transform: translate(-50%, -50%);
          width: 100%;
          text-align: center;
        }
      }
    }
    &__title{
      font-weight: 600;
      font-size: 42px;
      line-height: 50px;
      color: #818784;
      margin-bottom: 38px;
      grid-column: 1 / 3;
    }
  } 
}
.params{
  display: flex;
  flex-direction: column;
  &__price{
    .price-range{
      display: flex;
      justify-content: space-between;
      align-items: center;
      span{
        font-weight: 500;
        font-size: 20px;
        line-height: 24px;
      }
      .page-inputs{
        margin-bottom: 16px;
        input{
          border: 0.601242px solid #939393;
          box-sizing: border-box;
          border-radius: 6.01242px;
          width: 102px;
          height: 34px;
        }
      }
      
    }
    .page-range{
      display: grid;
      grid-template-columns: 1fr 1fr;
      @include range-slider(100%, 70px, 50px, #F1EFEF, #413F41, left);
      margin-bottom: 40px;
      .min-max{
        display: flex;
        span{
          display: flex;
          justify-content: center;
          align-items: center;
          border: 0.601242px solid #939393;
          box-sizing: border-box;
          border-radius: 6.01242px;
          width: 102px;
          height: 34px;
          &:first-child{
            margin-right: 34px;
          }
        }
      }
    }
  }
  &__elems{
    display: grid;
    select{
      background: #FFFFFF;
      border: 1.20248px solid #F1F6F7;
      box-sizing: border-box;
      border-radius: 6.01242px;
      height: 52px;
      appearance: none;
      position: relative;
      font-weight: normal;
      font-size: 18px;
      line-height: 21px;
      color: #939393;
      padding-left: 30px;
      margin-bottom: 20px;
      &::after{
        position: absolute;
        top: 0;
        right: 0;
        display: block;
        content: '';
        background-image: url('/assets/images/arrow-right.svg');
        width: 30px;
        height: 30px;
      }
    }
  }
  &__most{
    .most__title{
      font-weight: 600;
      font-size: 26px;
      line-height: 130%;
      margin-top: 24px;
      color: #818784;
      margin-bottom: 14px;
    }
    .most__grid{
      display: flex;
      flex-wrap: wrap;
      span{
        flex: 1 1 50%;
        cursor: pointer;
      }
    }
  }
}
.filter{
  padding: 40px 78px 0 60px;
  &__title{
    font-weight: 600;
    font-size: 26px;
    line-height: 130%;
    color: #818784;
    text-align: center;
    width: 100%;
  }
  &__body{
    margin-bottom: 40px;
  }
  &__item{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 26px;
    font-weight: normal;
    font-size: 18px;
    line-height: 21px;
    color: #939393;
  }
  button{
    background: #FF7475;
    border-radius: 5px;
    width: 220px;
    height: 55px;
    border: none;
    font-weight: 500;
    font-size: 21.6447px;
    line-height: 25px;
    color: #fff;
    display: block;
    margin: 0 auto;
    margin-bottom: 44px;
  }
}

.inspire{
  padding-top: 92px;
  margin-bottom: 114px;
  &__title{
    font-weight: 600;
    font-size: 42px;
    line-height: 50px;
    color: #818784;
    margin-bottom: 34px;
  }
  &__tabs {
    padding: 0;
    list-style: none;
    position: relative;
    margin-bottom: 56px;
    
    .active-tab {
      border-bottom: none;
      position: relative;
      color: black;
      border: 1px solid #FF7475;
    }
    
    li {
      display: inline-block;
      cursor: pointer;
      font-weight: 500;
      font-size: 20px;
      line-height: 24px;
      padding: 17px 50px;
      border: 1px solid #939393;
      box-sizing: border-box;
      border-radius: 5px;
      margin-right: 25px;
    }
  }
  
  &__tabs-content {
    padding: 0;
    list-style: none;
    li {
      display: none;
      columns: 3;
      column-gap: 20px;
      img{
        vertical-align: top;
        display: inline-block;
        margin-bottom: 20px;
      }
    }
  }
}
.video{
  background: #8C8C8C;
  &__body{
    display: flex;
  }
  &__video{
    height: 548px;
  }
  &__content{
    padding-top: 156px;
    padding-left: 75px;
  }
  &__title{
    font-weight: 600;
    font-size: 42px;
    line-height: 120%;
    color: #fff;
    margin-bottom: 38px;
    cursor: pointer;
  }
  button{
    width: 198px;
    height: 46px;
    border: none;
    background: #FF7475;
    border-radius: 5px;
    font-weight: 500;
    font-size: 18px;
    line-height: 21px;
    color: #fff;
  }
}
.blog{
  padding-top: 114px;
  &__grid{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 20px;
  }
  &__column{
    display: grid;
    grid-template-rows: auto 1fr;
    grid-gap: 20px;
  }
  &__item{    
    &:first-of-type{
      .blog__title{
        margin-top: 20px;
        margin-bottom: 18px;
      }
      p{
        font-size: 20px;
        line-height: 130%;
        color: #939393;
        &:first-of-type{
          margin-bottom: 40px;
        }
        &:last-of-type{
          margin-bottom: 52px;
        }
      }
      button{
        width: 180px;
        height: 46px;
        border: none;
        background: #FF7475;
        border-radius: 5px;
        margin-bottom: 48px;
        font-weight: 500;
        font-size: 18px;
        line-height: 21px;
        color: #fff;
      }
    }
    img{
      margin-bottom: 24px;
    }
    span{
      font-weight: 500;
      font-size: 20px;
      line-height: 24px;
      color: #FF7475;
      display: block;
      text-align: center;
      margin-bottom: 12px;
    }
    .blog__subtitle{
      font-family: $bold;
      font-size: 24px;
      line-height: 108.3%;
      color: #818784;
      text-align: center;
      padding: 0 10px;
      margin-bottom: 0 !important;      
    }
  }
  &__title{
    font-weight: 600;
    font-size: 42px;
    line-height: 50px;
    color: #818784;
  }
}