/* src/assets/styles/pages/_index.scss  */
button{
  transition: 0.3s !important;
  &:hover{
    background: linear-gradient(180deg, #FF7475 0.29%, #E25455 100%) !important;
  }
}
img{
  width: auto;
  max-width: 100%;
  height: auto;
  object-fit: contain;
}
.top{
  &__row{
    display: flex;
    justify-content: space-between;
    li{
      display: flex;
      align-items: center; 
      img{
        filter: grayscale(100%);
        &:hover{
          filter: none;
        }
      }
    }
  }
  &__brands{
    padding-top: 60px;
    margin-bottom: 34px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    &--title{
      text-align: center;
      margin-bottom: 65px;
      font-weight: normal;
      font-size: 1.125rem;
      line-height: 21px;
      color: #818784;
    }
  }
}
.main{
  &-grid{
    display: grid;
    margin-bottom: 100px;
    max-width: 100%;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 340px;
    grid-gap: 20px;
  }
  &__title{
    font-weight: 600;
    font-size: 2.6rem;
    line-height: 50px;
    color: #818784;
    text-align: center;
    margin-bottom: 68px;
  }
  .news{
    padding: 20px;
    box-shadow: 0px 0px 30px rgba(129, 135, 132, 0.2);
    border-radius: 5px;
    grid-column: 1 / 3;
  }
  .catalog{
    padding: 20px;
    background-size: cover;
    box-shadow: 0px 0px 30px rgba(129, 135, 132, 0.2);
    border-radius: 5px;
    grid-column: 1;
    &__content{
      background-image: url('/assets/images/download-bg.png');
      background-color: #C7CAD3;
      background-size: cover;
      background-position: right center;
      height: 100%;
      padding: 36px 0 0 57px;
    }
    &__title{
      font-size: 1.5rem;
      line-height: 120%;
      color: #fff;
      text-align: left;
      font-family: $bold;
      max-width: 205px;
      width: 100%;
      margin-bottom: 76px;
    }
    a{
      display: flex;
      align-items: center;
      justify-content: center;
      width: 174px;
      height: 46px;
      background: #FF7475;
      border-radius: 5px;
      border: none;
      color: #fff;
      font-weight: 500;
      font-size: 1.125rem;
      line-height: 21px;
      &:hover{
        background: linear-gradient(180deg, #FF7475 0.29%, #E25455 100%) !important;
      }
    }
  }
  .cowork{
    padding: 20px;
    box-shadow: 0px 0px 30px rgba(129, 135, 132, 0.2);
    border-radius: 5px;
    grid-column: 2;
    &__content{
      background-image: url('/assets/images/cowork.png');
      background-color: #C7CAD3;
      background-size: cover;
      background-position: right center;
      height: 100%;
      padding: 36px 0 0 57px;
    }
    &__title{
      font-size: 1.5rem;
      line-height: 120%;
      color: #fff;
      text-align: left;
      font-family: $bold;
      max-width: 205px;
      width: 100%;
      margin-bottom: 76px;
    }
    a{
      display: flex;
      align-items: center;
      justify-content: center;
      width: 174px;
      height: 46px;
      background: #FF7475;
      border-radius: 5px;
      border: none;
      color: #fff;
      font-weight: 500;
      font-size: 1.125rem;
      line-height: 21px;
      &:hover{
        background: linear-gradient(180deg, #FF7475 0.29%, #E25455 100%) !important;
      }
    }
  }
  .discounts{
    padding: 20px;
    height: 100%;
    box-shadow: 0px 0px 30px rgba(129, 135, 132, 0.2);
    border-radius: 5px;
    grid-column: 3;
    grid-row: 1 / 3;
    &__content{
      background: url('/assets/images/discounts.png');
      height: 100%;
      display: flex;
      align-items: flex-end;
      justify-content: center;
      padding-bottom: 34px;
      a{
        display: flex;
        justify-content: center;
        align-items: center;
        width: 227px;
        height: 48px;
        background: #FF7475;
        border-radius: 5px;
        border: none;
        color: #fff;
        font-weight: 500;
        font-size: 1.125rem;
        line-height: 21px;
        &:hover{
          background: linear-gradient(180deg, #FF7475 0.29%, #E25455 100%) !important;
        }
      }
    }
  }
  .swiper-container {
    position: relative;
    .swiper-wrapper{
      max-width: 1560px;
      width: 100%;
    }
    .swiper-slide{
      width: 100%;
    }
    .swiper-button-next{
      &:after{
        font-family: none;
        content: '';
        background: url('/assets/images/arrow-right.svg');
        width: 30px;
        height: 30px;
      }
    }
    .swiper-button-prev{
      &:after{
        font-family: none;
        content: '';
        background: url('/assets/images/arrow-left.svg');
        width: 30px;
        height: 30px;
      }
    }
    .swiper-pagination{
      color: #939393;
      font-size: 1.5rem;
      line-height: 139%;
      position: relative;
      bottom: auto;
      left: auto;
      margin-bottom: 0;
      text-align-last: left;
      .swiper-pagination-current{
        font-weight: 500;
        font-size: 1.5rem;
        line-height: 139%;
      }
      .swiper-pagination-total{
        font-size: 1.25rem;
        line-height: 139%;
      }
    }
    .swiper-slide{
      display: flex;
      .news__img{
        margin-right: 40px;
        width: 50%;
      }
      .slider__content{
        .slider-name{
          font-weight: 600;
          font-size: 1.5rem;
          line-height: 120%;
          color: #818784;
          margin-bottom: 20px;
          text-align: left;
          span{
            color: #FF7475 !important;
          }
        }
        .slider-links{
          display: flex;
          align-items: flex-end;
          *{
            flex: 1 1 33%;
          }
          .swiper-buttons{
            position: relative;
            display: flex;
            div{
              position: relative;
              top: auto;
              left: auto;
              bottom: auto;
              right: auto;
            }
          }
        }

        p{
          text-align: left;
          font-weight: normal;
          font-size: 1rem;
          line-height: 140%;
          font-family: $light;
          color: #939393;
          max-width: 425px;
          width: 100%;
          margin-bottom: 35px;
          &:first-of-type{
            margin-bottom: 0;
          }
        }
      }
    }
    a{
      margin-left: 1vw;
      button{
        max-width: 10rem;
        width: 100%;
        height: 46px;
        background: #FF7475;
        border-radius: 5px;
        border: none;
        font-weight: 500;
        font-size: 1.125rem;
        line-height: 21px;
        color: #fff;
      }
    }
  }
}


.materials{
  .container{
    margin-bottom: 92px;
  }
  &__grid{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-row-gap: 92px;
    grid-column-gap: 80px;
  }
  &__title{
    font-weight: 600;
    font-size: 2.6rem;
    line-height: 50px;
    color: #818784;
    grid-column: 1 / 3;
    margin-bottom: 80px;
  }
  &__item{
  }
  &__img{
    display: flex;
    justify-content: center;
    margin-bottom: 50px;
    position: relative;
    img{
      transition: 0.3s;
    &:hover{
      box-shadow: 0px 0px 25px #DADADA;
    }
    }
    &::after{
      position: absolute;
      content: '10627';
      background: #FF7474;
      border-radius: 20px;
      bottom: 10px;
      right: 30%;
      width: 45px;
      height: 17px;
      font-weight: 500;
      font-size: 0.625rem;
      line-height: 12px;
      color: #fff;
      display: flex;
      justify-content: center;
      align-items: center;
    }
  }
  &__name{
    font-weight: 600;
    font-size: 2rem;
    line-height: 130%;
    color: #818784;
    margin-bottom: 20px;
  }
  &__info{
    font-weight: normal;
    font-size: 1.125rem;
    line-height: 130%;
    color: #818784;
  }
}

.stages{
  margin-bottom: 114px;
  &-wrapper{
    display: flex;
    justify-content: space-between;
  }
  &__slider{
    padding: 0 110px;
    margin-bottom: 114px;
  }
  .stages-slide{
    height: 330px;
    padding: 48px 64px 64px;
    .stages__top{
      display: flex;
      justify-content: space-between;
      margin-bottom: 26px;
      a{
        font-weight: 500;
        font-size: 1.125rem;
        line-height: 130%;
        color: #818784;
        margin-right: 12px;
      }
    }
    .stages__title{
      font-weight: 600;
      font-size: 2rem;
      line-height: 130%;
      color: #818784;
      margin-bottom: 22px;
    }
    p{
      font-weight: normal;
      font-size: 1.25rem;
      line-height: 23px;
      color: #939393;
    }
  }
}

.calc{
  background: #8C8C8C;
  padding: 45px 0;
  &__grid{
    display: flex;
    justify-content: space-between;
    grid-column-gap: 95px;
    background: linear-gradient(296.35deg, #F0F0F0 -15.76%, #F7F7F7 99.51%);
  }
  &__column{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 76px;
    &:first-child{
      width: 66%;
      background: linear-gradient(296.35deg, #F0F0F0 -15.76%, #F7F7F7 99.51%);
      padding-top: 84px;
      padding-left: 100px;
      padding-bottom: 116px;
    }
    &:last-child{
      box-shadow: 0px 0px 30.1667px rgba(171, 163, 163, 0.25);
      background: #fff;
      width: 34%;
      grid-template-columns: 1fr;
    }
  }
  .calculation{
    &__grid{
      display: grid;
      grid-template-columns: 1fr 1fr;
      grid-gap: 28px;
      .grid__item{
        border: none;
        position: relative;
        cursor: pointer;
        img{
          width: 100%;
          max-width: 100%;
          transition: 0.3s;
          &:hover{
            border: 1.20248px solid #FF7475;
            box-shadow: 0px 0px 12.0248px #FF7475;
          }
        }
        .grid-name{
          position: absolute;
          font-weight: 500;
          font-size: 1rem;
          line-height: 19px;
          left: 50%;
          bottom: 5%;
          transform: translate(-50%, -50%);
          width: 100%;
          text-align: center;
        }
      }
    }
    &__title{
      font-weight: 600;
      font-size: 2.6rem;
      line-height: 50px;
      color: #818784;
      margin-bottom: 38px;
      grid-column: 1 / 3;
    }
  }
}
.params{
  display: flex;
  flex-direction: column;
  &__price{
    .price-range{
      display: flex;
      justify-content: space-between;
      align-items: center;
      span{
        font-weight: 500;
        font-size: 1.25rem;
        line-height: 24px;
      }
      .page-inputs{
        margin-bottom: 16px;
        input{
          border: 0.601242px solid #939393;
          box-sizing: border-box;
          border-radius: 6.01242px;
          width: 102px;
          height: 34px;
        }
      }

    }
    .page-range{
      display: grid;
      grid-template-columns: 1fr 1fr;
      @include range-slider(100%, 120px, 50px, #F1EFEF, #413F41, left);
      margin-bottom: 10px;
      .min-max{
        display: flex;
        span{
          display: flex;
          justify-content: center;
          align-items: center;
          border: 0.601242px solid #939393;
          box-sizing: border-box;
          border-radius: 6.01242px;
          width: 102px;
          height: 34px;
          &:first-child{
            margin-right: 34px;
          }
        }
      }
    }
  }
  &__elems{
    display: grid;
    select{
      background: #FFFFFF;
      border: 1.20248px solid #F1F6F7;
      box-sizing: border-box;
      border-radius: 6.01242px;
      height: 52px;
      appearance: none;
      position: relative;
      font-weight: normal;
      font-size: 1.125rem;
      line-height: 21px;
      color: #939393;
      padding-left: 30px;
      margin-bottom: 20px;
      background-image: url('/assets/images/arrow-right.svg');
      background-repeat: no-repeat;
      background-position: right center;
      &:focus {
        background-image: url('/assets/images/arrow-down.svg');
      }
    }
  }
  &__most{
    .most__title{
      font-weight: 600;
      font-size: 1.625rem;
      line-height: 130%;
      margin-top: 24px;
      color: #818784;
      margin-bottom: 14px;
    }
    .most__grid{
      display: flex;
      flex-wrap: wrap;
      span{
        flex: 1 1 auto;
        cursor: pointer;
        font-size: 20px;
        line-height: 24px;
        color: #939393;
        margin-bottom: 20px;
      }
    }
  }
}
.filter{
  padding: 40px 78px 0 60px;
  &__title{
    font-weight: 600;
    font-size: 1.625rem;
    line-height: 130%;
    color: #818784;
    text-align: center;
    width: 100%;
    margin-bottom: 46px;
  }
  &__body{
    margin-bottom: 68px;
  }
  &__item{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 26px;
    font-weight: normal;
    color: #939393;
    select{
      appearance: none;
      border: none;
      flex: 1 1 auto;
      height: 100%;
      font-size: 1.125rem;
      line-height: 21px;
      color: #939393;
      background-image: url('/assets/images/arrow-right.svg');
      background-repeat: no-repeat;
      background-position: right center;
      &:focus {
        background-image: url('/assets/images/arrow-down.svg');
      }
    }
    option{
      
    }
  }
  button{
    background: #FF7475;
    border-radius: 5px;
    width: 100%;
    max-width: 220px;
    height: 55px;
    border: none;
    font-weight: 500;
    font-size: 1.25rem;
    line-height: 25px;
    color: #fff;
    display: block;
    margin: 0 auto;
    margin-bottom: 44px;
  }
}

.inspire{
  padding-top: 92px;
  margin-bottom: 120px;
  &__title{
    font-weight: 600;
    font-size: 2.6rem;
    line-height: 50px;
    color: #818784;
    margin-bottom: 34px;
  }
  &__tabs {
    padding: 0;
    list-style: none;
    position: relative;
    margin-bottom: 56px;

    .active-tab {
      border-bottom: none;
      position: relative;
      color: black;
      border: 1px solid #FF7475;
    }

    li {
      display: inline-block;
      cursor: pointer;
      font-weight: 500;
      font-size: 1.25rem;
      line-height: 24px;
      padding: 17px 50px;
      border: 1px solid #939393;
      box-sizing: border-box;
      border-radius: 5px;
      margin-right: 25px;
    }
  }

  &__tabs-content {
    padding: 0;
    list-style: none;
    li {
      display: none;
      columns: 3;
      column-gap: 20px;
      position: relative;
      div{
        position: relative;
        transition: 0.3s;
        &:hover{
          &:after{
            position: absolute;
            content: 'Name';
            display: flex;
            justify-content: center;
            align-items: center;
            font-weight: 600;
            font-size: 2.5rem;
            line-height: 48px;
            color: #fff;
            top: 0;
            left: 0;
            width: 100%;
            height: calc(100% - 20px);
            background: rgba(38, 38, 38, 0.4);
          }
        }
      }
      img{
        vertical-align: top;
        display: inline-block;
        margin-bottom: 20px;
        position: relative;
      }
    }
  }
}
.video{
  background: #8C8C8C;
  &__body{
    display: flex;
  }
  &__video{
    display: flex;
    align-items: center;
    position: relative;
    &:after{
      content: '';
      background-image: url('/assets/images/lepnina.webp');
      background-size: cover;
      width: 100%;
      height: 100%;
      position: absolute;
      top: 0;
      left: 0;
    }
  }
  &__content{
    padding-top: 10vh;
    padding-left: 5vw;
  }
  &__title{
    font-weight: 600;
    font-size: 2.6rem;
    line-height: 120%;
    color: #fff;
    margin-bottom: 38px;
    cursor: pointer;
  }
  button{
    max-width: 198px;
    width: 100%;
    height: 46px;
    border: none;
    background: #FF7475;
    border-radius: 5px;
    font-weight: 500;
    font-size: 1.125rem;
    line-height: 21px;
    color: #fff;
  }
}
.blog{
  padding-top: 114px;
  &__grid{
    display: grid;
    grid-template-columns: 2fr 1fr 1fr;
    grid-gap: 20px;
    margin-bottom: 142px;
  }
  &__column{
    display: grid;
    grid-template-rows: auto 1fr;
    grid-gap: 20px;
  }
  &__item{
    &:first-of-type{
      .blog__title{
        margin-top: 17px;
        margin-bottom: 18px;
      }
      p{
        font-size: 1.25rem;
        line-height: 130%;
        color: #939393;
        &:first-of-type{
          margin-bottom: 40px;
        }
        &:last-of-type{
          margin-bottom: 52px;
        }
      }
      button{
        max-width: 180px;
        width: 100%;
        height: 46px;
        border: none;
        background: #FF7475;
        border-radius: 5px;
        margin-bottom: 44px;
        font-weight: 500;
        font-size: 1.125rem;
        line-height: 21px;
        color: #fff;
      }
    }
    img{
      margin-bottom: 24px;
    }
    span{
      font-weight: 500;
      font-size: 1.25rem;
      line-height: 24px;
      color: #FF7475;
      display: block;
      text-align: center;
      margin-bottom: 12px;
    }
    .blog__subtitle{
      font-family: $bold;
      font-size: 1rem !important;
      line-height: 108.3%;
      color: #818784;
      text-align: center;
      padding: 0 10px;
      margin-bottom: 0 !important;
    }
  }
  &__title{
    font-weight: 600;
    font-size: 2.6rem;
    line-height: 50px;
    color: #818784;
  }
}
.map{
  height: 556px;
  background: url('/assets/images/map.png');
}
.form{
  background: #8C8C8C;
  padding-top: 4rem;
  &__title{
    font-weight: 600;
    font-size: 32px;
    line-height: 38px;
    color: #FFFFFF;
    text-align: center;
    margin-bottom: 40px;
  }
  form{
    display: flex;
    flex-wrap: wrap;
  }
  &__grid{
    flex: 1 1 calc(70% - 20px);
    margin-right: 20px;
    margin-bottom: 28px;
    display: flex;
    .inputs{
      flex: 1 0 33%;
      *{
        height: 3rem;
        border: 2px solid #FFFFFF;
        box-sizing: border-box;
        border-radius: 5px;
        background-color: transparent;
        padding-left: 18px;
        width: calc(100% - 1.5rem);
        &::placeholder,&::placeholder-shown{
          color: #fff;
        }
      }
      input:first-child{
        margin-bottom: 24px;
      }
    }
    #text{
      border: 2px solid #FFFFFF;
      box-sizing: border-box;
      border-radius: 5px;
      background-color: transparent;
      padding-left: 18px;
      flex: 1 1 66%;
      &::placeholder{
        color: #fff;
      }
    }
  }
  &__submit{
    flex: 1 1 30%;
    margin-bottom: 28px;
    display: grid;
    grid-template-columns: 50% 1fr;
    grid-column-gap: 20px;
    #image{
      height: 48px;
    }
    #code{
      border: 2px solid #FFFFFF;
      box-sizing: border-box;
      border-radius: 5px;
      height: 48px;
      background-color: transparent;
      padding-left: 18px;
      width: 100%;
      &::placeholder,&::placeholder-shown{
        color: #fff;
      }
    }
    #btn{
      grid-column: 1 / 3;
      background: #FF7474;
      border-radius: 5px;
      border: none;
      color: #fff;
      font-size: 16px;
      line-height: 139%;
    }
  }
  &__check{
    flex: 1 0 100%;
    display: flex;
    justify-content: center;
    margin-bottom: 60px;
  }
}

@media screen and (max-width: 1280px){
  .main{
    .news{
      .slider__content{
        .slider-name{
          font-size: 1rem !important;
          margin-bottom: 0 !important;
        }
        p{
          font-size: 0.8rem !important;
          &:first-of-type{
            margin-bottom: 18px !important;
          }
          &:last-of-type{
            display: none !important;
          }
        }
      }
    }
    .discounts__content{
      background-size: contain !important;
    }
  }
  .blog{
    &__grid{
      grid-template-columns: 2fr 1fr 1fr;
    }
    &__item{
      p{
        font-size: 1rem;
        line-height: 130%;
      }
    }
  }
  .video{
    &__body{
      padding-bottom: 24px;
    }
    &__video{

    }
  }
  .calc{
    .calculation__title{
      font-size: 32px;
      line-height: 38px;
    }
  }
}
@media screen and (max-width: 768px){
  .container{
    flex: 0 1 auto;
  }
  .top{
    &__brands{
      justify-content: space-between;
      display: flex;
      flex-wrap: wrap;
      &--title{
        margin-bottom: 35px;
      }
      li{
        display: flex;
        flex: 1 1 20%;
        align-items: center;
        justify-content: center;
        margin-bottom: 12px;
        img{
          object-fit: cover;
        }
      }
    }
  }
  .main{
    &__title{
      font-size: 24px;
      line-height: 29px;
      text-align: center;
      margin-bottom: 46px;
    }
    &-grid{
      grid-template-columns: 1fr 1fr;
      grid-template-rows: 1fr 222px 222px;
      margin-bottom: 52px;
    }
    .news{
      grid-column: 1 / 3;
      .swiper-container{
        .swiper-slide{
          align-items: center;
          img{
            height: 198px;
          }
          p{
            font-size: 0.8rem;
            line-height: 140%;
          }
          .slider-name{
            font-size: 1.125rem;
            line-height: 120%;
          }
          a{
            margin-left: 0;
          }
          button{
            max-width: 120px;
            width: 100%;
            height: 35px;
            font-size: 1rem;
          }
        }
      }
    }
    .catalog{
      grid-column: 1;
      grid-row: 2;
      &__content{
        padding: 38px 0 0 24px;
      }
      &__title{
        font-size: 1.125rem;
        line-height: 120%;
        margin-bottom: 46px;
      }
    }
    .cowork{
      grid-column: 1;
      grid-row: 3;
      &__content{
        padding: 38px 0 0 24px;
      }
      &__title{
        font-size: 1.125rem;
        line-height: 120%;
        margin-bottom: 46px;
      }
    }
    .discounts{
      grid-column: 2;
      grid-row: 2 / 4;
      &__content{
        background-size: cover;
      }
    }
  }
  .materials{
    &__title{
      font-size: 24px;
      line-height: 29px;
      text-align: center;
      margin-bottom: 52px;
    }
    &__grid{
      grid-template-columns: 1fr 1fr;
      padding: 0 45px;
      grid-column-gap: 36px;
      grid-row-gap: 24px;
    }
    &__item{
    }
    &__img{
      margin-bottom: 34px;
      img{
        height: 125px;
      }
    }
    &__name{
      font-size: 20px;
      line-height: 130%;
      margin-bottom: 12px;
    }
    &__info{
      font-size: 0.8rem;
      line-height: 130%;
    }
  }
  .stages{
    margin-bottom: 88px;
    .stages-slide{
      padding: 30px 36px;
      height: auto;
      .stages__title{
        font-size: 20.4359px;
        line-height: 130%;
        margin-bottom: 12px;
      }
      .stages__top{
        margin-bottom: 8px;
      }
      p{
        font-size: 0.8rem;
        line-height: 16px;
      }
    }
  }
  .calc{
    &__grid{
      grid-column-gap: 0;
      display: grid;
      grid-template-columns: 3fr 2fr;
    }
    &__column:first-of-type{
      grid-template-columns: 1fr;
      padding: 28px 23px 0 36px;
      width: 100%;
      grid-template-rows: auto auto 1fr;
    }
    &__column:last-child{
      width: 100%;
    }
    .calculation{
      &__grid{
        grid-template-columns: 1fr 1fr 1fr;
        grid-gap: 14px;
        padding: 0 36px 0 24px;
        margin-bottom: 20px;
      }
      &__title{
        grid-column: 1;
        font-size: 21px;
        line-height: 29px;
        margin-bottom: 18px;
      }
      .grid__item{
        .grid-name{
          font-size: 8.8255px;
          line-height: 10px;
        }
      }
    }
    .params{
      margin-bottom: 50px;
      display: grid;
      grid-template-columns: 1fr 1fr;
      grid-column-gap: 12px;
      grid-template-rows: auto 1fr;
      &__price{
        grid-column: 1 / 3;
      }
      &__elems{
        grid-template-rows: auto auto 1fr;
        select{
          font-size: 0.625rem;
          line-height: 12px;
          height: 28px;
        }
      }
      &__most{
        .most__title{
          font-size: 11.8004px;
          line-height: 130%;
          margin: 0;
          margin-bottom: 12px;
        }
        .most__grid{
          span{
            font-size: 9.17812px;
            line-height: 11px;
          }
        }
      }
      .min-max{
        display: flex;
        span{
          display: flex;
          justify-content: center;
          align-items: center;
          border: 0.601242px solid #939393;
          box-sizing: border-box;
          border-radius: 6.01242px;
          width: 57px;
          height: 18px;
          font-size: 9px;
          line-height: 11px;
          &:first-child{
            margin-right: 34px;
          }
        }
      }
    }
    .filter{
      padding: 25px 44px 0 32px;
      &__title{
        font-size: 1rem;
        line-height: 130%;
      }
      &__item{
        margin-bottom: 10px;
        select{
          appearance: none;
        }
        option{
          font-size: 0.75rem;
          line-height: 14px;
        }
      }
      button{
        max-width: 120px;
        width: 100%;
        height: 30px;
        font-size: 0.8rem;
        line-height: 16px;
      }
    }
  }
  .inspire{
    padding-top: 48px;
    &__title{
      font-size: 24px;
      line-height: 29px;
      text-align: center;
    }
    &__tabs{
      margin-bottom: 28px;
      li{
        padding: 8px 30px;
        margin-right: 15px;
        font-size: 0.75rem;
        line-height: 15px;
      }
    }
    &__tabs-content{
      li{
        max-width: 100%;
        img{
          max-width: 100%;
        }
      }
    }
  }
  .video{
    margin-top: -53px;
    .container{
      max-width: 100%;
      padding: 0;
    }
    &__body{
      padding-bottom: 0;
    }
    &__video{
      max-width: 470px;
      height: auto;
      img{
        max-width: 100%;
        object-fit: cover;
      }
    }
    &__content{
      padding: 56px 0 0 24px;
      .video__title{
        font-size: 24px;
        line-height: 120%;
      }
    }
    button{
      max-width: 170px;
      width: 100%;
      height: 35px;
      font-size: 1rem;
      line-height: 19px;
    }
  }
  .blog{
    .blog__item:first-of-type .blog__title{
      margin-top: 0;
    }
    padding-top: 48px;
    &__grid{
      grid-template-columns: 1fr;
      margin-bottom: 58px;
      img{
        max-width: 100%;
      }
    }
    &__item{
    }
    &__title{
      font-size: 24px;
      line-height: 29px;
      text-align: center;
    }
    &__item:first-of-type{
      display: flex;
      flex-direction: column;
      align-items: center;
      p{
        font-size: 0.8rem;
        line-height: 130%;
        text-align: center;
        margin-bottom: 20px !important;
      }
      button{
        max-width: 144px;
        width: 100%;
        height: 35px;
        font-size: 1rem;
        line-height: 19px;
        margin-bottom: 42px;
      }
    }
    &__column:nth-child(2),&__column:nth-child(3){
      grid-template-columns: 1fr 1fr;
    }
    &__subtitle{
      font-size: 20px !important;
      line-height: 108.3% !important;
    }
  }
  .map{
    height: 376px;
    background-size: cover;
  }
  .form{
    padding-top: 37px;
    &__title{
      font-size: 24px;
      line-height: 29px;
      margin-bottom: 30px;
    }
    &__grid,&__submit{
      flex: 1 1 100%;
    }
    &__grid{
      margin-right: 0;
      
    }
    &__submit{
      grid-template-columns: 93px 1fr 1fr;
      #btn{
        grid-column: 3;
      }
    }
  }

}
@media screen and (max-width: 576px){
  .container{
    padding: 0 15px;
  }
  .main{
    &__title{
      font-size: 1.125rem;
      line-height: 21px;
      text-align: center;
    }
    &__grid{
      grid-template-columns: 1fr;
      grid-template-rows: 1fr 1fr 1fr 1fr;
    }
    .news,.catalog,.cowork,.discounts{
      grid-column: 1;
    }
    .news{
      padding: 0;
      box-shadow: none;
      .swiper-slide{
        display: flex;
        flex-direction: column;
      }
    }
    .catalog{
      grid-row: 2;
      padding: 0;
      &__content{
        padding: 20px;
        display: flex;
        justify-content: space-between;
        flex-direction: column;
      }
    }
    .cowork{
      grid-row: 3;
      padding: 0;
      &__content{
        padding: 20px;
        display: flex;
        justify-content: space-between;
        flex-direction: column;
      }
    }
    .discounts{
      grid-row: 4;
      padding: 0;
      height: 386px;
    }
    .swiper-container{
      .swiper-wrapper{
        max-width: calc(100vw - 30px);
      }
    }
  }
  .materials{
    &__title{
      font-size: 1.125rem;
      line-height: 21px;
      text-align: center;
      margin-bottom: 52px;
    }
    &__grid{
      grid-template-columns: 1fr;
      padding: 0;
      grid-column-gap: 36px;
      grid-row-gap: 24px;
    }
    &__item{
    }
    &__img{
      margin-bottom: 34px;
      img{
        height: 125px;
      }
    }
    &__name{
      font-size: 20px;
      line-height: 130%;
      margin-bottom: 12px;
    }
    &__info{
      font-size: 0.8rem;
      line-height: 130%;
    }
  }
  .stages{
    &-wrapper{
      flex-direction: column;
      align-items: center;
    }
    &-slide{
      padding: 0 !important;
      &:first-child{
        margin-bottom: 44px;
      }
    }
  }
  .calc{
    padding-bottom: 0;
    background-color: #fff;
    .calculation__title{
      font-size: 1.125rem;
      line-height: 21px;
      text-align: center;
    }
    .calculation{
      &__grid{
        padding: 0;
      }
    }
    &__column{
      padding: 0 !important;
      background: #fff !important;
    }
    &__grid{
      grid-template-columns: 1fr;
      background: #fff;
    }
    .filter{
      display: none;
    }
  }
  .inspire{
    &__title{
      font-size: 1.125rem;
      line-height: 21px;
    }
  }
  .video{
    &__body{
      flex-direction: column-reverse;
    }
    &__content{
      padding: 24px;
      display: flex;
      flex-direction: column;
      align-items: center;
      .video__title{
        font-size: 1.125rem;
        line-height: 120%;
        text-align: center;
      }
    }
  }
  .blog{
    padding-top: 18px;
    padding-bottom: 28px;
    &__grid{

    }
    &__column:first-of-type{
      p{
        text-align: left;
      }
    }
    &__column:nth-child(2),&__column:nth-child(3){
      grid-template-columns: 1fr;
    }
  }
  .inspire__tabs{
    margin-bottom: 28px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    li{
      margin-bottom: 8px;
      
    }
  }
  .form{
    &__grid{
      flex-direction: column-reverse;
      #name,#phone{
        width: 100%;
      }
      #text{
        height: 120px;
        flex: auto;
        margin-bottom: 24px;
      }
    }
    &__submit{
      grid-template-columns: 1fr;
      grid-row-gap: 10px;
      *{
        width: 100%;
        grid-column: 1 !important;
      }
    }
  }

}
