/* src/assets/styles/layout/_general.scss  */

* {
  box-sizing: border-box;
  outline: none;
  font-family: $gilroy;
}
html,
body {
  height: 100%;
  margin: 0;
}
body {
  
}
h1, h2, h3, h4, h5, h6 {
  margin: 0;
}
a {
  text-decoration: none;

}
p {
  margin: 0;
}
ul {
  margin: 0;
  padding: 0;
}
li {
  list-style: none;
}
.container{
  max-width: 1560px;
  width: 100%;
  margin: 0 auto;
}

